.icon {
    height: 1rem;
}

.controls_wrapper {
    text-align: center;
    color: white;
    background-color: rgba(5, 5, 5, 0.658);
    position: absolute;
    margin-left: 40%;
    border-radius: 5px;
    height: 150px;
    width: 300px;
    box-shadow: 0.25rem 0.25rem 0.7rem #232425;
}

.controls_item {
    margin-top: 1rem;
}

.controls_button {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 4rem;
}

.tag-page-tag {
    background: rgba(242, 242, 242, 1);
    padding: 2rem 3rem;
    margin: 2rem;
    border-radius: 100px;
    box-shadow: -1px 9px 13px 0px #d8d8d8, inset 0px -5px 9px 0px #c3c3c3;
}

.tag-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tagCreateButton {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 5rem 5px;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

.tagCreateButton:hover {
    background-color: rgb(105, 105, 105);
}

.tagCreate {
    display: flex;
    justify-content: center;
}

.button {
    border: none;
}