.cat-page-cat {
    background: rgba(242, 242, 242, 1);
    padding: 2rem 3rem;
    margin: 2rem;
    border-radius: 100px;
    box-shadow: -1px 9px 13px 0px #d8d8d8, inset 0px -5px 9px 0px #c3c3c3;
}

.cat-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.catCreateButton {
    clear: both;
    background-color: #aaa;
    border: 0 none;
    border-radius: 4px;
    transition: all 0.23s ease-in-out 0s;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin: 0 5px 5rem 5px;
    padding: 0 22px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: auto;
}

.catCreateButton:hover {
    background-color: rgb(105, 105, 105);
}

.catCreate {
    display: flex;
    justify-content: center;
}